<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Cookie Artist</title>
    <script
      src='https://kit.fontawesome.com/b632e9a473.js'
      crossorigin='anonymous'
    ></script>
    <link
      href='https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/assets/styles/style.css' />
  </head>

  <body>
    <nav>
      <p class='follow-us'>Follow us</p>
    </nav>
    <header>
      <div class='header-info'>
        <p class='cookie-artist-text'>Cookie Artist</p>
      </div>
      <img
        src='/assets/images/cookie-header.png'
        alt='Cookies'
        class='cookie-main'
      />
    </header>
    <main>
      {{{body}}}
    </main>
    <footer></footer>
  </body>

</html>